.App {
  text-align: center;
}

.App-header {
  background-color: #e8ebf0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(15, 12, 12);
}

.singleTodo
{
  border-radius: 50px;
  margin: 10px;
  background-color: #74306e;
  display: flex;
  padding: 10px 20px;
  width: 450px;
  align-items: center;
}
.todoText
{
  flex: 1;
  text-align: start;
}